%p#notice= notice

%p
  %b Person:
  = @person_message.person_id
%p
  %b Message:
  = @person_message.message_id

= link_to 'Edit', edit_person_message_path(@person_message)
\|
= link_to 'Back', person_messages_path
