= form_for @message do |f|
  - if @message.errors.any?
    #error_explanation
      %h2= "#{pluralize(@message.errors.count, "error")} prohibited this message from being saved:"
      %ul
        - @message.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :content
    <br/>
    = f.text_area :content, rows: 10, cols: 50

  -#
    .field
      = f.label :send_at, "Send At (leave blank for now)"
      <br/>
      = f.time_select :send_at, ampm: true, prompt: {hour: 'Choose hour', minute: 'Choose minute', second: 'Choose seconds'}
  
  <br/>
  .actions
    = f.submit 'Save'
