= form_for @profile, html: { multipart: true } do |f|
  - if @profile.errors.any? or @user.errors.any?
    %ul
      - @profile.errors.full_messages.each do |msg|
        %li= msg
    %ul
      - @user.errors.full_messages.each do |msg|
        %li= msg

  %table
    %tbody
      = fields_for :user do |ff|
        %tr
          %td{colspan: 2}
            %h4 Account Information
        %tr
          %td{colspan: 2} &nbsp;
        %tr.field
          %td= ff.label :email
          %td= ff.text_field :email
        %tr.hint
          %td &nbsp;
          %td (e.g. jane@email.com)
        %tr.field
          %td= ff.label :password
          %td= ff.password_field :password
        %tr.hint
          %td &nbsp;
          %td Using numbers, letters, and symbols is preferable.
        %tr.field
          %td= ff.label :password_confirmaiton
          %td= ff.password_field :password_confirmation

      %tr
        %td{colspan: 2}
          %h4 Personal Information
      %tr
        %td{colspan: 2} &nbsp;
      %tr.field
        %td= f.label :name
        %td
          = f.text_field :name
      %tr.hint
        %td &nbsp;
        %td (e.g. Jane Smith)

      %tr.field
        %td= f.label :title, 'Job Title'
        %td= f.text_field :title
      %tr.hint
        %td &nbsp;
        %td (e.g. CEO)

      %tr.field
        %td= f.label :company, 'Company Name'
        %td= f.text_field :company
      %tr.hint
        %td &nbsp;
        %td (e.g. Smart Company)

      %tr.field
        %td= f.label :location, 'Primary Location'
        %td= f.text_field :location
      %tr.hint
        %td &nbsp;
        %td (e.g. Boston, MA)

      %tr.field
        %td= f.label :linkedin, 'LinkedIn'
        %td= f.text_field :linkedin
      %tr.hint
        %td &nbsp;
        %td (e.g. http://linkedin.com/janesmith)

      %tr.field
        %td= f.label :twitter
        %td= f.text_field :twitter
      %tr.hint
        %td &nbsp;
        %td (e.g. @janesmith)

      %tr.field
        %td= f.label :website
        %td= f.text_field :website
      %tr.hint
        %td &nbsp;
        %td (e.g. http://janesmith.com)

      %tr.field
        %td= f.label :blog_url, 'Blog'
        %td= f.text_field :blog_url
      %tr.hint
        %td &nbsp;
        %td (e.g. http://janesblog.wordpress.com)

      %tr.field
        %td= f.label :keywords, 'Keywords / Presentation Topics (phrases ok)'
        %td= f.text_area :keywords
      %tr.hint
        %td &nbsp;
        %td (comma-separated)

      %tr.field
        %td= f.label :industry
        %td= f.select :industry, Profile.industries.keys.to_a, {include_blank: true}#, multiple: true
      %tr.hint
        %td &nbsp;
        %td &nbsp;


      %tr.field
        %td= f.label :summary, 'Your Summary'
        %td= f.text_area :summary
      %tr.hint
        %td &nbsp;
        %td (250 words or fewer)

      %tr.field
        %td= f.label :origin_story, 'Origin Story'
        %td= f.text_area :origin_story
      %tr.hint
        %td &nbsp;
        %td How did you get where you are now?

      %tr.field
        %td= f.label :passion
        %td= f.text_area :passion
      %tr.hint
        %td &nbsp;
        %td What topic puts a smile on your face?

      %tr.field
        %td= f.label :best_story, 'Best Story'
        %td= f.text_area :best_story
      %tr.hint
        %td &nbsp;
        %td What was the a-ha moment for your company?

      %tr.field
        %td= f.label :travel_distance
        %td= f.select :travel_distance, Profile.travel_distances.keys.to_a, {include_blank: true}
      %tr.hint
        %td &nbsp;
        %td How far are you willing to travel for speaking engagements?

      %tr.field
        %td= f.label :charge, 'Charging'
        %td= f.select :charge, Profile.charges.keys.to_a, {include_blank: true}
      %tr.hint
        %td &nbsp;
        %td Do you/will you charge for speaking?

      %tr.field
        %td= f.label :video
        %td= f.text_field :video
      %tr.hint
        %td &nbsp;
        %td (e.g. http://youtube.com/me_speaking_at_a_conference)

      %tr.field
        %td= f.label :picture
        %td= f.file_field :picture
      %tr.hint
        %td &nbsp;
        %td &nbsp;


  .actions
    = f.submit 'Submit Profile'
