%h1 Listing profiles

%table
  %tr
    %th Name
    %th Location
    %th Title
    %th Industry
    %th Description
    %th Twitter
    %th Linkedin
    %th Website
    %th
    %th
    %th

  - @profiles.each do |profile|
    %tr
      %td= profile.name
      %td= profile.location
      %td= profile.title
      %td= profile.industry
      %td= profile.description
      %td= profile.twitter
      %td= profile.linkedin
      %td= profile.website
      %td= link_to 'Show', profile
      %td= link_to 'Edit', edit_profile_path(profile)
      %td= link_to 'Destroy', profile, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Profile', new_profile_path
