.profiles
  .profile
    .profile-content
      = image_tag @profile.picture.url
      %h1.name= @profile.name
      %p.location= @profile.location
      
      %table
        %tbody
          %tr
            %td Title
            %td.title-info= @profile.title
          %tr
            %td Industry
            %td.title-info= @profile.industry
          %tr
            %td Company
            %td.title-info= @profile.company
         
      .ask-me-to-speak.btn-primary
        = link_to '<span>&ogt;</span> ASK ME TO SPEAK'.html_safe, '', target: '_blank'
      
      %hr
      
      .links
        %p= link_to @profile.website, @profile.website, target: '_blank'
        %p= link_to 'Twitter', @profile.twitter, target: '_blank'
        %p= link_to 'LinkedIn', @profile.linkedin, target: '_blank'
      
      %hr
      
      
  .details
    .details-content
      %h2.description= @profile.description

  
-#
  %p#notice= notice

  %p
    %b Name:
    = @profile.name
  %p
  %p
    %b Location:
    = @profile.location
  %p
    %b Title:
    = @profile.title
  %p
    %b Industry:
    = @profile.industry
  %p
    %b Description:
  
  %p
    %b Twitter:
    = @profile.twitter
  %p
    %b Linkedin:
    = @profile.linkedin
  %p
    %b Website:
    = @profile.website

  = link_to 'Edit', edit_profile_path(@profile)
  \|
  = link_to 'Back', profiles_path
