- current_user_owns_profile = (current_user.present? && current_user == @profile.user)

- content_for :head do 
  %h1.page_title= @profile.name

.profiles
  .profile
    .profile-content
      = image_tag @profile.picture.url(:medium)
      %h1.name= @profile.name
      %p.location= @profile.location
      
      %table
        %tbody
          %tr
            %td Title
            %td.title-info= @profile.title
          %tr
            %td Industry
            %td.title-info= @profile.industry
          %tr
            %td Company
            %td.title-info= @profile.company

      .ask-me-to-speak.btn-primary
        = link_to '<span>&ogt;</span> ASK ME TO SPEAK'.html_safe, new_ask_to_speak_path
      
      %hr
      
      .links
        %p= link_to @profile.website, @profile.website, target: '_blank'
        %p= link_to 'Twitter', @profile.twitter_url, target: '_blank'
        %p= link_to 'LinkedIn', @profile.linkedin, target: '_blank'
      
      %hr
      
      
  .details
    .details-content
      %h3.description= @profile.description
      
      - if @profile.youtube_url
        %iframe{width: "560", height: "315", src: "//www.youtube.com/embed/#{@profile.youtube_url}?rel=0", frameborder: "0", allowfullscreen: 'allowfullscreen'}
      - elsif @profile.vimeo_url
        %iframe{src: "//player.vimeo.com/video/#{@profile.vimeo_url}?byline=0&portrait=0&badge=0", width: "560", height: "315", frameborder: "0", webkitallowfullscreen: 'webkitallowfullscreen', mozallowfullscreen: 'mozallowfullscreen', allowfullscreen: 'allowfullscreen'}
      %p.company-description= simple_format @profile.company_description

      - if current_user_owns_profile || @profile.topics.length > 0
        %hr
        %h2.topics Speaking Topics
        - @profile.topics.each do |topic|
          %h4= topic.title
          %p= topic.description
          
        - if current_user_owns_profile
          %p= link_to "Add a speaking topic", new_profile_topic_path(@profile)
      
      - if @profile.super_hero_origin_story or @profile.passion
        %hr
      
      - if @profile.super_hero_origin_story
        %h4 Origin Story
        %p= simple_format @profile.super_hero_origin_story
            
      - if @profile.passion
        %h4 Your Passion
        %p= simple_format @profile.passion

-#
  %p#notice= notice

  %p
    %b Name:
    = @profile.name
  %p
  %p
    %b Location:
    = @profile.location
  %p
    %b Title:
    = @profile.title
  %p
    %b Industry:
    = @profile.industry
  %p
    %b Description:
  
  %p
    %b Twitter:
    = @profile.twitter
  %p
    %b Linkedin:
    = @profile.linkedin
  %p
    %b Website:
    = @profile.website

  = link_to 'Edit', edit_profile_path(@profile)
  \|
  = link_to 'Back', profiles_path
