%p#notice= notice

%p
  %b First Name:
  = @person.firstname
%p
  %b Last Name:
  = @person.lastname
%p
  %b Email:
  = @person.email
%p
  %b Ticket:
  = @person.ticket
%p
  %b Phone Number:
  = @person.phonenumber


= link_to 'Back to Dashboard', root_path
\|
= link_to 'Edit', edit_person_path(@person)
\|
= link_to 'Back', people_path
