- content_for :head do 
  %h2 An online speakers bureau for entrepreneurial and technical women
  .roundlogo= image_tag 'roundlogo.png'


.actions
  .action
    .inside
      = link_to image_tag('find_speaker.png'), root_path
      %h2= link_to 'Find A Speaker', root_path
      %p= link_to 'Search our database for entrepreneurial and technical women to speak at your event.', root_path
  .action
    .inside
      = link_to image_tag('find_speaker.png'), root_path
      %h2= link_to 'Find A Speaker', root_path
      %p= link_to 'Search our database for entrepreneurial and technical women to speak at your event.', root_path
  .action
    .inside
      = link_to image_tag('find_speaker.png'), root_path
      %h2= link_to 'Find A Speaker', root_path
      %p= link_to 'Search our database for entrepreneurial and technical women to speak at your event.', root_path
  .action
    .inside
      = link_to image_tag('find_speaker.png'), root_path
      %h2= link_to 'Find A Speaker', root_path
      %p= link_to 'Search our database for entrepreneurial and technical women to speak at your event.', root_path



= link_to 'Sign Up', new_profile_path
Welcome