- content_for :head do
  %h2 An online speakers bureau for entrepreneurial and technical women
  .roundlogo= image_tag 'roundlogo.png'

.actions
  .action
    .inside
      = link_to image_tag('find.png'), find_profile_path
      %h2= link_to 'Find A Speaker', find_profile_path
      %p= link_to 'Search our database for entrepreneurial and technical women to speak at your event.', find_profile_path
  .action
    .inside
      - if logged_in?
        = link_to image_tag('add.png'), new_profile_path
        %h2= link_to 'Become A Speaker', new_profile_path
        %p= link_to 'Create a profile to be invited to speak and share your expertise. Training and support with public speaking is available.', new_profile_path
      - else
        = link_to image_tag('add.png'), new_user_path
        %h2= link_to 'Become A Speaker', new_user_path
        %p= link_to 'Create a profile to be invited to speak and share your expertise. Training and support with public speaking is available.', new_user_path
  .action
    .inside
      = link_to image_tag('events.png'), events_path
      %h2= link_to 'Attend Events', events_path
      %p= link_to 'Browse the scheduled appearance of members, and learn about our career and networking events.', events_path
  .action
    .inside
      = link_to image_tag('users.png'), organizations_path
      %h2= link_to 'Meet Our Friends', organizations_path
      %p= link_to 'View our directory of sponsors, organizational partners, and women\'s advocacy groups for entrepreneurship.', organizations_path

.news
  %h2 Latest News
  .right
    %iframe{width: 390, height: 690, frameborder: 0, src: 'http://visitor.r20.constantcontact.com/manage/optin?v=001isJLcA0NBDVM28C1NLtGTimWLoPiO06S6KrOwDGKaV72gQdeGs3g-g2wd0NE9_87VxbzMEMPensJXU9Pgv1dPCO8w1i23rVntbvTaTOO3GA%3D'}

  <a class="twitter-timeline" href="https://twitter.com/WomenInno" data-widget-id="560912807466901505">Tweets by @WomenInno</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

.featured_members
  %h2 Featured Members
  - @featured_members.each do |featured_member|
    .featured_member
      .inner
        = link_to image_tag(featured_member.picture.url(:thumb)), profile_path(featured_member)
        %h3= link_to(featured_member.name, profile_path(featured_member), class: 'highlighted')
        %p= featured_member.title
        %p= featured_member.company
        %p= featured_member.industry
