.footer
  .section
    = link_to image_tag('roundlogo.png'), root_path
    
  .section
    %h2 Get In Touch
    %table
      %tbody
        %tr
          %td.highlighted 1
          %td
            Innovation Women
            %br
            100 Tradecenter G-700
            %br
            Woburn, MA 01801
        %tr
          %td.highlighted 2
          %td 781-281-8387
        %tr
          %td.highlighted 3
          %td= mail_to 'support@innovationwomen.com', 'support@innovationwomen.com'
    
  .section
    %h2 Connect With Us
    %p.social
      = link_to image_tag('facebook_footer.png'), 'https://www.facebook.com/innovationwomen', target: '_blank'
      = link_to image_tag('twitter_footer.png'), 'http://twitter.com/womeninno', target: '_blank'
      = link_to image_tag('linkedin_footer.png'), '', target: '_blank'
    