.footer
  .section
    = link_to image_tag('roundlogo.png'), root_path
    
  .section
    %h2 Get In Touch
    %table
      %tbody
        %tr
          %td.highlighted 1
          %td
            Innovation Women
            %br
            Address 1
            %br
            Town
        %tr
          %td.highlighted 2
          %td 0861 000 000
        %tr
          %td.highlighted 3
          %td= mail_to 'support', 'support'
    
  .section
    %h2 Connect With Us
    %p.social
      = link_to image_tag('facebook_footer.png'), '', target: '_blank'
      = link_to image_tag('twitter_footer.png'), '', target: '_blank'
      = link_to image_tag('linkedin_footer.png'), '', target: '_blank'
    