.header
  .right
    .user
      - if current_user
        = "Hi #{current_user.profile.try(:name) or current_user.email}"
        &nbsp; &middot; &nbsp;
        = link_to 'Sign Out', :logout, method: :post
      - else
        = link_to 'Sign In', :login
    -#
      .search.small
        = form_tag({controller: 'profiles', action: 'search'}, method: :get) do
          = text_field_tag :search, params[:search], :id => 'search_field'
          = submit_tag 'Search', :name => nil

    .links.small
      = link_to 'About', about_path
      = link_to 'For Event Managers', new_event_path
      = link_to 'For Speakers', (current_user ? current_user.profile : new_profile_path)
      = link_to 'Events', events_path
      = link_to 'Friends', organizations_path
  = link_to image_tag('logo_48.png'), root_path
  
.header_image
  = yield :head
  
